.card {
  margin-top: 10px;
  margin-bottom: 10px;
  border:whitesmoke 2px solid;
  max-height: 700px;
  img {
    max-width: 95%;
    max-height: 95%;
    margin-top: 10px;
    margin-left: 12px;
  }
}
